/* цвет h1 FFFFFF */
/* цвет чеpный h2 h3 212121 */
/* цвет р 757575 */
/* цвет синий 2196F3 */
:root{
    --Белый-цвет:#FFFFFF;
    --Черный-цвет: #212121;
    --Синий-цвет: #2196F3;
    --Ocновной-цвет-текста: #757575;
    --секция-заказать-услугу:#2F303A;
}
body{
    background-color: #FFFFFF;
    color: var(--Ocновной-цвет-текста);
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    
}
a{
    text-decoration: none;
}
/* Лого спан цвет */
.black{
    color: var(--Черный-цвет);
}
.white{
    color: var(--Белый-цвет);
}

.logo{
    color: var(--Синий-цвет);
    font-family: 'Raleway';
    font-size: 26px;
   
     
}
.logo .black:hover{
    color: var(--Синий-цвет); 
  
}

.logo .white:hover{
    color: var(--Синий-цвет);
}

ul{
    list-style: none;
}
.basic {
    background-color: var(--Белый-цвет);
  
    
}
.basic-linc{
 

}
.basic-linc .linc{
    color: var(--Черный-цвет);
    font-weight: 500;
    font-size: 14px; 

}
.basic-linc .linc:hover, 
.basic-linc.linc:focus{
     color: var(--Синий-цвет);
    
}
.basic-linc .linc.current{
    color: var(--Синий-цвет);
}


/* мило и адресс */
.basic-linck .linck{
    color: var(--Ocновной-цвет-текста);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    padding-right: 215px;
    font-size: 14px;
 
    
}
.basic-linck .linck:hover, 
.basic-linck.linck:focus{
     color: var(--Синий-цвет);
}

/* Cекции h1 h2 */
.section-color-h1{
    background: #2F303A;
}

.section-title-h1{
    color: var(--Белый-цвет);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.06em; 
    text-transform: uppercase;
}
.section-title-h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 2.625;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--Черный-цвет);
}
.button {
    background-color: var(--Синий-цвет);
    color: var(--Белый-цвет);
    font-weight: 700;
    font-size: 16px;
    line-height: 0.53; 

      
}
.button:hover,
.button:focus{
    background-color: var(--Синий-цвет);
    color: var(--Белый-цвет);
    cursor: pointer;
    opacity: .7;
}
.button-grey{
    background-color: #F5F4FA;
    color: var(--Черный-цвет);
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.button-grey:hover,
.button-grey:focus{
    background-color: var(--Синий-цвет);
    color: var(--Белый-цвет);
    cursor: pointer;

}

/* Cекции h3 */
.main-information{
 
    font-weight: 700;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--Черный-цвет);
}
.information{
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: var(--Ocновной-цвет-текста);   
}
/* Команда */
.section-team-h3{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    color: var(--Черный-цвет);
}
.section-team-p{
    font-size: 16px;
    line-height: 1.18;
    color: var(--Ocновной-цвет-текста);  
}
/* Проект */
.project-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2.25;
    letter-spacing: 0.06em;
    color: var(--Черный-цвет);

}
.project a{
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--Ocновной-цвет-текста);
}





/* Футер */
.footer-grey{
    background-color: var(--секция-заказать-услугу);
}
.address{
    color: var(--Белый-цвет);
}